QA_CLIENTE_URL=http://localhost:3334
QA_PAINEL_URL=http://localhost:3333
QA_CLIENTE_FRONT_URL=http://localhost:5173
QA_PAINEL_FRONT_URL=http://localhost:5174
QA_ESTABELECIMENTO=default
QA_TIMEOUT_MS=10000
ALLOW_MUTATION=false
QA_USER_PREFIX=qa_auto
